@import url('variable.css');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background-color: var(--color-gradient-2);
}

/***** header *****/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}
.div__logo {

}

.div__menu {
    

}
.ul__menu {
    display: flex;
    gap: 100px;
    padding-right: 100px;
    color: var(--font-color-1);
   
}
.ul__menu li{
    list-style: none;
    font-family: "Montserrat-Semibold";
}
.ul__menu li a{
    color: var(--font-color-1);
    text-decoration: none;
}



/****** main ******/

.main {

}
.section__home{
    background-image: linear-gradient(var(--color-gradient-1), var(--color-gradient-2) 100%), var(--Rectangle-1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 135svh;
}
        
.article__home {
    /* background: red; */
    width: 626px;
    height: 360px;  
    position: relative;
    left: 21svw;
    top: 36svh; 
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--font-color-1);
}
.article__home span {
    font-size: 28px;
    font-family: "Montserrat-SemiBold";
}
.article__home h1 {
    font-size: 75px;
    font-family: "Montserrat-SemiBold";
}
.article__home p {
    width: 340px;
    font-family: "Montserrat-Medium";
}

/******* section menu *******/

.section__icon{
    background: #071917;
    display: flex;
    justify-content: space-evenly;
}

.section__icon img{
    /* background: violet; */
}

/*********** Pagina 2 ************/

.sec_pag2 {
    height: 128svh;
    background-color: var(--color-gradient-2);
}

.pagina2{
    position: absolute;
    display: flex;
    left: 8svw;
    top:100svh;
    h1{
        font-size: 3.5svw ;
        color: white;
        font-family: "Montserrat-SemiBold"; 
    }
}


.img_pag2 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 70px;

    img{
        width: 96svw;
        height: 115svh;
    }
  }



/*********** Pagina 3 ************/

.sec_pag3 {
    height: 128svh;
    background-color: var(--color-gradient-2);
}

.pagina3{
    position: absolute;
    display: flex;
    left: 8svw;
    top:100svh;
    h1{
        font-size: 3.5svw ;
        color: white;
        font-family: "Montserrat-SemiBold"; 
    }
}


.img_pag3 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 0px;

    img{
        width: 96svw;
        height: 125svh;
    }
  }

  /*********** Pagina 4 ************/

.sec_pag4 {
    height: 128svh;
    background-color: var(--color-gradient-2);
}

.pagina4{
    position: absolute;
    display: flex;
    left: 8svw;
    top:100svh;
    h1{
        font-size: 3.5svw ;
        color: white;
        font-family: "Montserrat-SemiBold"; 
    }
}


.img_pag4 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 0px;

    img{
        width: 96svw;
        height: 125svh;
    }
  }

/*********** Pagina 5 *************/

.pagina5{
    position: absolute;
    color:var(--font-color-1);
    left: 3.47vw;
    p{
        font-size: 3.125vw;
        font-family: "Montserrat-Medium";
    }

}

  .img_pag5{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 2.08vw;
    top: 7vw;
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 1.56vw ; 
    box-sizing: content-box; 
    background-color: var(--color-gradient-2);

    
    
    div{
        background-color:#145E2A ;
        width: 26.73vw;
        height: 43.54vw;
        flex-shrink: 0;
        border-radius: 2.43vw;
        display: flex;
        flex-direction: column;
        box-shadow: 1vw 1vw 8px rgb(0, 0, 0);
        color: white;
        
        img{
            position: absolute;
            top: 1.8vw;
            width: 23.75vw;
            height: auto;
            display: flex;
            align-self: center;
        }

        h1{
            font-family: "Montserrat-SemiBold";
            font-size: 1.94vw;
            position: absolute;
            top: 19.58vw;
            width: 23.75vw;
            height: auto;
            display: flex;
            align-self: center;
            }

        p{
            position: absolute;
            font-size: 1.33vw;
            font-family: "Montserrat-Regular";
            top: 25.55vw;
            width: 23.75vw;
            height: auto;
            display: flex;
            align-self: center;
            }

        button{
            position: absolute;
            font-family: "Montserrat-Regular";
            top: 34.02vw;
            border-radius: 1.66vw;
            height: auto;
            display: flex;
            align-self: center;
            justify-content: center;
            align-items: center;
            font-size: 1.33vw;
            width: 8.7vw;
            height: 3vw;
            background-color:rgba(217, 217, 217, 1) ;
            cursor: pointer;
            border: none;
            }
    }
}


/************** Redes **************/

.Net{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center; 
    gap: 54px;
    top: 18svh;
    height: 18svh;
}

/*************** Carrusel ************/


.img_pag5::-webkit-scrollbar {
    
    height: 10px; 
}

.img_pag5::-webkit-scrollbar-track {
    background: #e5e5e500; 
    border-radius: 4px; 
}

.img_pag5::-webkit-scrollbar-thumb {
    background: #2a5b3425; 
    border-radius: 4px; 
}

.img_pag5::-webkit-scrollbar-thumb:hover {
    background: radial-gradient(circle, rgb(50, 146, 76)0%,rgb(26, 71, 38)100%); 
}

/********* version movil *********/ 

@media (max-width: 960px) {
    .header{
        /* background: red; */
        padding: 15px;
    }
    .ul__menu{
        gap: 15px;
        padding-right: 15px;
    }
    .section__home{
        display: flex;
        justify-content: space-around;
    }
    .article__home{
        left: 0;
    }
    .article__home span{
        /* font-size: 1px; */
    }
    .article__home h1{
        font-size: 70px;
    }
    .article__home p{

    }
    .section__icon{
        justify-content: space-around;
    }
    .section__icon img{
        width: 45px;
        height: 45px;
        object-fit: contain;
    }
    .sec_pag2{
        height:500px ;
    }
    .pagina2{
        width: 36svw;
        top: 34svh;
        left: 7svw;

        h1{
           font-size: 30px; 
        }
    }
    .img_pag2{
        top: 40px;
        img{
            position: absolute;
            width: 780px;
            height:450px ;
        }
        
    }
    .sec_pag3{
        height:470px ;
    }
    .pagina3{
        width: 36svw;
        top: 34svh;
        left: 7svw;

        h1{
           font-size: 30px; 
        }
    }
    .img_pag3{
        top: 10px;
        img{
            position: absolute;
            width: 780px;
            height:450px ;
        }
        
    }
    .sec_pag4{
        height:470px ;
    }
    .pagina4{
        width: 8svw;
        top: 34svh;
        left: 7svw;

        h1{
           font-size: 30px; 
        }
    }
    .img_pag4{
        top:10px;
        img{
            position: absolute;
            width: 780px;
            height:450px ;
        }
        
    }
    .img_pag5{
        width: 300svw;
        height: 55svh;
        div{
            width: 45svw;
            height: 50svh;
            img{
                width:40svw;
                height: 21.5svh;
                top: 1.5svh;
            }
            h1{
                display:flex ;
                position: absolute;
                top: 33vw;
                width: 39svw;
                font-size: 3vw;
            }
            p{
                display:flex ;
                position: absolute;
                top: 42vw;
                width: 39svw;
                font-size: 2.3vw;
            }
            button{
                width: 14svw;
                height: 3.2svh;
                font-size: 15px;
                top: 42svh;
                border-radius: 2vw;
            }
        }
        
    }
    .Net{
        top: 0svh;
    }
}

@media (max-width: 576px) {
    .header{
        /* background: blue; */
        justify-content: normal;
    }
    .div__logo{
        flex: 1;
        /* background: red; */
    }
    .div__menu{
        width: 100%;
        /* background: violet; */
    }
    .ul__menu{
        display: flex;
        justify-content: center;
        padding-right: 0;
    }
    .article__home{
        top: 25svh;
    }
    .article__home h1{
        font-size: 60px;
    }
    .section__home{
        display: flex;
        justify-content: normal;
        padding-left: 15px;
        padding-right: 15px;
        height: 95svh;
    }
    .sec_pag2{
        height:36.6svh ;
    }
    .pagina2{
        width: 38svw;
        top: 26svh;
        left: 10svw;

        h1{
           font-size: 15px; 
        }
    }
    .img_pag2{
        top: 40px;
        img{
            position: relative;
            width:95svw;
            height:30svh;
        }
        
    }
    .sec_pag3{
        height:33svh ;
    }
    .pagina3{
        width: 38svw;
        top: 26svh;
        left: 10svw;

        h1{
           font-size: 15px; 
        }
    }
    .img_pag3{
        top: 10px;
        img{
            position: relative;
            width:95svw;
            height:30svh;;
        }
        
    }
    .sec_pag4{
        height:33svh ;
    }
    .pagina4{
        width: 8svw;
        top: 26svh;
        left: 10svw;

        h1{
           font-size: 15px; 
        }
    }
    .img_pag4{
        top:10px;
        img{
            position: relative;
            width:95svw;
            height:30svh;
        }
        
    }
    .img_pag5{
        width: 300svw;
        height: 41svh;
        div{
            width: 45svw;
            height: 37svh;
            img{
                width:40svw;
                height: 14svh;
                top: 1.5svh;
            }
            h1{
                display:flex ;
                position: absolute;
                top: 33vw;
                width: 40.75vw;
                font-size: 3vw;
            }
            p{
                display:flex ;
                position: absolute;
                top: 42vw;
                width: 39svw;
                font-size: 2.3vw;
            }
            button{
                width: 13svw;
                height: 2svh;
                font-size: 8px;
                top: 30svh;
            }
        }
        
    }
    .Net{
        top: 0svh;
    }

}
